<form action="/auth/signUp" method="POST">
    username: <input type="text" name="username" id="username"> <br>
    password: <input type="password" name="password" id="password"> <br>
    user_first_name: <input type="text" name="user_first_name" id="user_first_name"> <br>
    user_last_name: <input type="text" name="user_last_name" id="user_last_name"> <br>
    user_age: <input type="text" name="user_age" id="user_age">

    <input type="submit" value="Sign Up">

</form>